$success: rgb(117, 200, 137);

$body-bg: #f2f4f0;
$border-radius: 10px;

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 0.75rem;

$card-border-width: 0;

$font-family-sans-serif: "Avenir", sans-serif;

@import "~bootstrap/scss/bootstrap.scss";

.btn-success {
  color: #fff;

  &:hover {
    color: #fff;
  }
}
